body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #083b4c;
}

h1 {
    color: white;
    text-align: center;
    font-size: 4rem;
}

#fizzbuzz-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    width: 80%;
    margin: 0 auto;
}

.fizzbuzz-item {
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.numero {
    background-color: #1389b2;
}

.fizz {
    background-color: #0bd6a1;
}

.buzz {
    background-color: #ffd166;
}

.fizzbuzz {
    background-color: #f0466f;
}
